.header {
  position: sticky;
  top: 0;
  z-index: 999;
}
.header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  max-width: 1080px;
  margin: 0rem auto;
  font-size: 1.5rem;
  height: 6rem;
}
.header span {
  cursor: pointer;
}
